.blink-api-form-stracture {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgb(0 0 0 / 10%);
    border-radius: 10px;
    position: relative;
}

header.blink-api-tabs-nav ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
}

header.blink-api-tabs-nav ul li.active a {
    background: #3FB0FF;
    color: #fff;
}

header.blink-api-tabs-nav ul li a {
    background: #f9f9f9;
    color: #636363;
    font-size: 14px;
    line-height: 16px;
    position: relative;
    margin-bottom: 0;
    padding: 13px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    border: none;
    text-decoration: none;
}

.heading-text {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    padding: 2%;
    margin-bottom: 2%;
    border-bottom: 1px solid rgba(238, 238, 238, 1);
}

header.blink-api-tabs-nav,
.blink-api-tabs-content {
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

.blink-api-tabs-content label {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 10px;
    color: #666666;
    text-transform: uppercase;
}

.blink-api-tabs-content input {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-bottom: 10px;
    height: 55px;
    border: 1px solid #DBDBDB;
    box-shadow: 0px 1px 0px #dbdbdb;
    border-radius: 5px;
}

.blink-api-tabs-content {
    /*height: 65vh;
    overflow-y: scroll;*/
    padding-top: 20px;
}

/* .blink-api-tabs-content div:not(:first-child) {
    display: none;
} */

.blink-api-tabs-content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.blink-api-tabs-content::-webkit-scrollbar {
    width: 2px;
    background-color: #F5F5F5;
}

.blink-api-tabs-content::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
}

.blink-api-tabs-content input[type="submit"],
button, .blink-pay-options a {
    width: 100%;
    text-transform: capitalize;
    height: 55px;
    border-radius: 6px;
    background-color: #3eb0ff;
    line-height: 100%;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.5px;
    margin-top: 0px;
    border-color: #3eb0ff;
}

header.blink-api-tabs-nav ul li a:hover,
.blink-api-tabs-content input[type="submit"]:hover,
button:hover, .blink-pay-options a:hover {
    background: #024dff;
    color: #fff;
    border-color: #024dff;
}


/* ul.blink-api-responsive-tab-heading {
    display: none !important;
} */

.responsive-screen ul.blink-api-responsive-tab-heading {
    display: flex !important;
    padding-left: 0;
}

.blink-api-normals-heading {
    display: flex !important;
}

/* .responsive-screen .blink-api-normals-heading {
    display: none !important;
} */

.responsive-screen ul.blink-api-normals-heading li a {
    padding: 7px;
    font-size: 12px;
}



.responsive-screen .blink-api-tabs-content input {
    height: 44px;
    font-size: 14px;
}

.hostedfield-wrapper {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-bottom: 10px;
    height: 55px;
    border: 1px solid #DBDBDB !important;
    box-shadow: 0px 1px 0px #DBDBDB;
    border-radius: 5px;
}

.responsive-screen .blink-api-tabs-content br {
    display: none;
}
.blink-api-tabs-content br {
    display: none;
}

.tab-contents {
    display: none;
}

.tab-contents.active {
    display: block;
}

a:focus, button:focus, .button.alt:focus, input:focus, textarea:focus, input[type="button"]:focus, input[type="reset"]:focus, input[type="submit"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus, input[type="search"]:focus {
    outline-color: #80bdff;
}

a:focus, input:focus, textarea:focus, button:focus {
    outline: 1px solid #80bdff;
}

.hostedfield-wrapper:focus, .hostedfield-wrapper:focus-visible, .hostedfield-wrapper:focus-within, .hostedfield-wrapper:hover, .hostedfield-wrapper:active {
    outline: 1px solid #80bdff;

} 

.blink-pay-options a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;
    margin-bottom: 15px;
}