
.cancel-order-container {
    position: relative;
    display: inline-block;
    float: left;
}

.cancel-order-tooltip {
    position: absolute;
    top: -30px; /* Adjust as needed */
    left: 100%; /* Adjust as needed */
    width: auto;
    background-color: #555;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    z-index: 999;
    display: none;
}

.cancel-order-container:hover .cancel-order-tooltip {
    display: block;
}
